.sidebar-box {
 margin:0;
 padding:0;
 z-index:2147483647;
 position:fixed;
 top:30px;
 width:64px;
 _position:absolute;
 _bottom:auto;
 _top:expression(eval(document.documentElement.scrollTop+30));
 overflow:visible;
 font-size:12px!important;
 font-family:arial,sans-serif!important;
 color:white;
 text-align:center!important
}
.sidebar-box a {
 text-decoration:none!important
}
.sidebar-box p,.sidebar-box div {
 margin:0;
 padding:0;
 color:white;
 font-size:12px!important;
 font-family:arial,sans-serif!important
}
.sidebar-box.on-right {
 right:30px;
 _right:auto;
 _left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,30)||0)-(parseInt(this.currentStyle.marginRight,30)||0))
}
.sidebar-box.on-left {
 left:0;
 right:auto;
 _right:auto;
 _left:expression(eval(document.documentElement.scrollLeft))
}
.sidebar-box .sidebar-head {
 width:100%;
 height:66px;
 background:url(image/sidebar-head.png) no-repeat center center
}
.sidebar-box .sidebar-title {
 cursor:pointer
}
.sidebar-box .sidebar-wrap {
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding-bottom:10px;
 background:#4689fa;
 position:relative;
 overflow:visible
}
.sidebar-box .sidebar-body {
 -moz-border-radius:4px 4px 0 0;
 -webkit-border-radius:4px 4px 0 0;
 border-radius:4px 4px 0 0;
 background:#4689fa;
 padding:5px 4px!important;
 overflow:visible
}
.sidebar-box .sidebar-chat-btn {
 margin:10px 0;
 cursor:pointer
}
.sidebar-box .sidebar-chat-btn .sidebar-chat-icon {
 width:25px;
 height:22px;
 background:url(//static.microyan.com/res/image/sidebar/chat-icon.png) no-repeat center center;
 _background:0;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//static.microyan.com/res/image/sidebar/chat-icon.png");
 margin:0 auto;
 margin-bottom:5px
}
.sidebar-box .sidebar-btn {
 background:#3c75d5;
 color:white;
 width:100%;
 padding:7px 0;
 margin:5px 0 0 0;
 cursor:pointer;
 overflow:visible
}
.sidebar-box .sidebar-define-btn {
 margin-top:5px
}
.sidebar-box #sidebar-weixin-btn {
 margin-top:5px;
 position:relative
}
.sidebar-box .sidebar-weixin-logo {
 width:100%;
 height:22px;
 margin:3px 0;
 background:url(//static.microyan.com/res/image/sidebar/weixin-logo.png) no-repeat center center;
 _background:0;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//static.microyan.com/res/image/sidebar/weixin-logo.png")
}
.sidebar-box .sidebar-weixin-arrow {
 display:none;
 position:absolute;
 top:23px
}
.sidebar-box.on-right .sidebar-weixin-arrow {
 left:-15px
}
.sidebar-box.on-left .sidebar-weixin-arrow {
 left:64px
}
.sidebar-box .sidebar-weixin-box {
 display:none;
 width:110px;
 height:110px;
 position:absolute;
 top:-30px;
 padding:5px 5px;
 background:#3c75d5;
 overflow:visible
}
.sidebar-box.on-right .sidebar-weixin-box {
 left:-135px
}
.sidebar-box.on-left .sidebar-weixin-box {
 left:70px
}
.sidebar-box .sidebar-weixin-box .sidebar-weixin {
 height:110px;
 width:110px
}
.sidebar-box .sidebar-app-btn {
 margin:10px 4px 0 4px;
 cursor:pointer;
 color:white
}
.m-sidebar {
 margin:0;
 padding:0;
 z-index:2147483647;
 margin:0;
 right:30px;
 position:fixed;
 top:50px
}
